/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: black;
}

html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img {
    width: 100%;
}

.bg-text {
    background-color: rgba(128, 128, 128, .8);
    font-size: .8em;
    padding: .2em .3em;
}

/* HEADER */
header {
    height: 80px;
    width: 100%;
    text-align: right;
    background-color: black;
}

.header-content {
    padding: .4em;
}

.header-content > span {
    border-radius: 6px;
}

/* MAIN */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - 180px);
    width: 100%;
    overflow-y: auto;
}

.user {
    width: 160px;
    margin: .3em .1em;
    position: relative;
}

.user > p {
    position: absolute;
    left: 0;
    bottom: 5%;
    font-size: .7em;
}

/* FOOTER */
footer {
    height: 100px;
    width: 100%;

    background-color: lightgoldenrodyellow;
}